.products{
  /* Auto Layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  position: absolute;
  height: auto;
  left: 0%;
  right: 0%;
  top: 65vh;
  /* Colors / Grey Light 1 */

  background: #F6F6F6;
  border-radius: 1rem;
}

.inline1 {
  width: 85%;
  height: 40vh; /* make scroller responsive */
  display: flex;
  overflow-x: auto;
}

.inline2 {
  width: 85%;
  height: 35vh; /* make scroller responsive */
  display: flex;
  overflow-x: auto;
}

.title {
  position: absolute;
  left: 8%;
  margin-top: 45vh;
}

@media (max-width: 400px) {
  .products {
    padding-left: 0rem;
  }
}