.featured-card {
  display: flex;
  flex-direction: row;
  padding: 1vw;
  height: 16vw;
  width: 12vw;
  
  background: #FFFFFF;
  border-radius: 10px;
  
  flex: none;
  margin-left: 2.5rem;

  background-color: #F3DEDB; /* This is for testing purpose */

  font-size: 1.1vw;
  font-weight: bold;
}

.featured-image {
  height: 7vw;
  width: 6.5vw;
  padding-left: 1.5vw;
}

.p-title{
  padding-left: 1vw;
}

.category {
  color: #92929D;
  font-weight: normal;
  padding-left: 1vw;
}

.price {
  position: static;
  display: flex;
  color: #171725;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-weight: 600;
  
  bottom: 0%;
  padding-left: 1vw;
  width: 10vw;
}

.plus-button {
  height: 1.5vw;
  margin-right: 0vw;
  margin-left: auto;
  margin-right: 0;
  float: right;
}

.plus-button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 1600px){
  .featured-card {
    height: 20vw;
    width: 17vw;

    font-size: 1.3vw;
  }
  
  .featured-image {
    height: 10vw;
    width: 8vw;
  }

  .price {
    width: 12vw;
  }
}

/* Wide Mobile view has to change many things 700 - 550 */
@media (max-width: 700px) {
  .featured-card {
    height: 22vw;
    font-size: 1.5vw;
  }
}

/* Wide Mobile view has to change many things */
@media only screen and (max-width: 500px) {
  .featured-card {
    height: 45vw;
    width: 38vw;
    font-size: 3vw;
    margin-left: 1.5rem;
  }

  .featured-image {
    height: 22vw;
    width: 20vw;
  }
  .price {
    width: 30vw;
    padding-left: 3vw;
  }

  .p-title {
    padding-left: 3vw;
  }

  .category {
    padding-left: 3vw;
  }

  .plus-button {
    height: 5vw;
  }
}