.featured-card {
  display: flex;
  flex-direction: row;
  padding: 1vw;
  padding-top: 3vw;
  height: 30vh;
  
  background: #FFFFFF;
  border-radius: 10px;
  
  flex: none;
  margin: 0px 1vw;
}

@media only screen and (max-width: 1000px){
  .featured-card {
    padding: 2vw;
  }
}

.p-title{
  /* font-size: 1.1vh; */
}

.category {
  color: #92929D;
}

.price {
  position: static;
  display: flex;
  color: #171725;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-weight: 600;
  /* font-size: 1vw; */
}

.featured-image {
  height: 7vh;
}

.plus-button {
  height: 1.5vh;
  margin-left: 3vw;
}