.banner {
  /* position: absolute; */
  background: #2ECC71;
  border-radius: 1rem;
  height: 50vh;
  width: 100%;
  margin: auto;
}

.store-name {
  position: absolute;
  width: 40%;
  left: 12%;
  top: 7vh;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 6.5rem;
  color: #FFFFFF;
}

.store-details {
  position: absolute;
  width: 45%;
  left: 12%;
  top: 30vh;
  font-family: Montserrat;
  font-style: normal;
  font-size: 4rem;
  color: #FFFFFF;
  /* mix-blend-mode: normal; */
  opacity: 0.84;
}

.group1 {
  height: 50vh; /* make height as in banner*/
  position: absolute;
  right: 0px;
}

.girl {
  position: absolute;
  right: 0px;
  top: 6.74%;
  bottom: 66.59%;
  height: 42vh;
}

@media only screen and (max-width: 768px ) {
  .store-details {
    padding-top: 3rem;
  }
}

@media only screen and (max-width: 550px ) {
  .store-name {
    font-size: 4rem;
  }
  .store-details {
    font-size: 1.5rem;
  }
}