.banner {
  /* position: absolute; */
  background: #2ECC71;
  border-radius: 1rem;
  height: 45vh;
  width: 100%;
  margin: auto;

  background-image: url("../../assets/images/banner/pattern-x-laptop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.store-name {
  position: absolute;
  width: 40%;
  left: 12%;
  top: 7vh;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 3.5vw;
  color: #FFFFFF;
}

.store-details {
  position: absolute;
  width: 45%;
  left: 12%;
  top: 25vh;
  font-family: Montserrat;
  font-style: normal;
  font-size: 2vw;
  color: #FFFFFF;
  /* mix-blend-mode: normal; */
  opacity: 0.84;
}

.group1 {
  height: auto; /* make height as in banner*/
  width: 100vw;
  position: absolute;
  /* top: 0; */
  right: 0px;
  /* width: 100%; */
  /* background-image: url("../../assets/images/banner/path-mobile.svg"); */
  /* z-index: 100; */
}

.girl {
  position: absolute;
  right: 0px;
  top: 6.74%;
  bottom: 66.59%;
  height: 38vh;
}
@media only screen and (max-width: 1600px ) {
  .banner {
    background-image: url("../../assets/images/banner/pattern-laptop.svg");
  }
  .store-name {
    font-size: 3.7vw;
  }
  .store-details {
    font-size: 2.2vw;
  }
}
@media only screen and (max-width: 1050px ) {
  .banner {
    background-image: url("../../assets/images/banner/pattern-tablet.svg");
  }
  .store-name {
    font-size: 5vw;
  }
  .store-details {
    font-size: 2.5vw;
  }
}

/* Wide Mobile view has to change many things */
@media only screen and (max-width: 700px ) {
  .banner {
    background-image: url("../../assets/images/banner/pattern-mobile.svg");
    height: 40vh;
  }
  .group1 {
    /* height: 40vh; */
  }
  .store-name {
    width: 60%;
    font-size: 6vw;
    top: 9vh;
  }
  .store-details {
    font-size: 4vw;
  }
  .girl {
    height: 33vh;
  }
}

/* Mobile view has to change many things */
@media only screen and (max-width: 500px ) {
  .banner {
    height: 35vh;
  }

  .group1 {
    /* height: 35vh; */
  }
  
  .girl {
    height: 28vh;
  }

  .store-name {
    top: 11vh;
  }

  .store-details {
    width: 55%;
  }
}