.white-card {
  display: flex;
  flex-direction: row;
  /* padding: 1rem; */
  /* padding-top: 3vw; */
  height: 13.8vw;
  width: 24vw;
  
  background: #FFFFFF;
  border-radius: 10px;
  
  flex: none;
  margin: 10px 0px;
  margin-left: 2.5rem;
}

.name-shop_now {
  width: 14vw;
  height: 11vw;
  margin-left: 3rem;
}

.product-name {
  width: auto;
  /* background-color: tomato;  testing puppose */

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 1.9vw; /* Change this to slide shop now text down / up */
  color: #000000;
  margin-top: 2rem;
}

.shop-now {
  color: #FAC814;
  font-style: normal;
  font-weight: bold;
  font-size: 1vw;
  margin-bottom: 0px;
  padding-top: 2vw;
}

/* 
.product-image {
  padding: 1vw;
} 
*/

.p-image {
  height: 12vw;
  width: 10vw;
}

.arrow {
  height: 1.2vw;
}
 
@media (max-width: 1600px) {
  .white-card {
    height: 20vw;
    width: 34vw;
  }

  .name-shop_now {
    /* background-color: tomato; /* testing puppose */
    height: 18vw;
  }

  .product-name {
    font-size: 2.6vw;
  }

  .shop-now {
    font-size: 1.8vw;
    /* padding-top: 2.5vw; */
  }

  .arrow {
    font-size: 1.8vw;
  }

  .p-image {
    height: 18vw;
    width: 14vw;
  }
}

/* Wide Mobile view has to change many things 700 - 550 */
@media (max-width: 700px) {
  .white-card {
    height: 25vw;
  }
}

/* Mobile view has to change many things 700 - 550 */
@media only screen and (max-width: 500px) {
  .white-card {
    height: 40vw;
    width: 65vw;
    margin-left: 1.5rem;
  }

  .name-shop_now {
    /* background-color: tomato; /* testing puppose */
    height: 33vw;
    width: 30vw;
    margin-left: 1.5rem;
  }

  .product-name {
    font-size: 4.5vw;
  }

  .shop-now {
    font-size: 3vw;
    /* padding-top: 2.5vw; */
  }

  .arrow {
    height: 4vw;
  }

  .p-image {
    height: 33vw;
    width: 30vw;
  }
}