.white-card {
  display: flex;
  flex-direction: row;
  padding: 1vw;
  padding-top: 3vw;
  height: 18vw;
  
  background: #FFFFFF;
  border-radius: 10px;
  
  flex: none;
  margin: 0px 24px;
}

.product-name {
  width: 10vw;
  height: 6vw;
  /* background-color: tomato; testing puppose */

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 2vw;
  color: #000000;
  padding-bottom: 10%;
}

.shop-now {
  color: #FAC814;
  top: 1vw;
  /* font-family: DM Sans; */
  font-style: normal;
  font-weight: bold;
  font-size: 1vw;
}

.product-image {
  padding: 1vw;
}

.p-image {
  height: 10vw;
  width: 16vw;
}

.arrow {
  height: 2vw;
}