nav {
  top: 1%;
  right: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  color: white;
  position: fixed;
  z-index: 100;
}

.nav-link {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.fa{
  color: rgb(18, 101, 5);
  font-size: 5vh;
}