.input-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 7vw;  /* @media me iska size 10vw krna hai*/
  top: 25.6vw;
}

.search-row {
  border: 2px solid #BABABA;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  width: 82%;
}

.search-icon {
  padding: 1%;
  height: .5vw;
}

.input {
  /* font-size: large; */
  flex-direction: row;
  align-items: center;
  background: transparent;
  border: none;
  width: 100%;
  padding: 1%;
}

.input:focus{
  outline: none;
}